<!DOCTYPE html>
<html ng-app="orderByExample3">
	<head>
		<title>Book Store</title>

		<!-- bootstrap.min.css -->
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	</head>
	<body>
		<div ng-controller="ExampleController">
		  <hr/>
		  <button ng-click="sortBy(null)">Set to unsorted</button>
		  <hr/>
		  <div class="input-group">
                <div class="input-group-btn">
                  <button type="button" class="btn btn-info dropdown-toggle">Search: </button>
                </div>
                <input type="text" ng-model="search" name="search" class="form-control" />
            </div>
		  <table class="friends">
		    <tr>
		      <th>
		        <button ng-click="sortBy('name')">Name</button>
		        <span class="sortorder" ng-show="propertyName === 'name'"></span>
		      </th>
		      <th>
		        <button ng-click="sortBy('phone')">Phone Number</button>
		        <span class="sortorder" ng-show="propertyName === 'phone'"></span>
		      </th>
		      <th>
		        <button ng-click="sortBy('age')">Age</button>
		        <span class="sortorder" ng-show="propertyName === 'age'" ng-class="{reverse: reverse}"></span>
		      </th>
		    </tr>
		    <tr ng-repeat="friend in friends | filter:search">
		      <td>{{friend.name}}</td>
		      <td>{{friend.phone}}</td>
		      <td>{{friend.age}}</td>
		    </tr>
		  </table>
		</div>
		<!-- angular.min.js -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

		<!-- js/app.js -->
		<script src="app.js"></script>
	</body>
</html>